.container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    height: 250px;
    width: auto;
    margin: 50px auto;
    background-color: white;
    transform: translate(-50%, -50%);
}

.books {
    position: relative;
    width: 67px;
    border: 3px solid black;
    transition: width .3s ease-in-out;
}

.books:nth-child(n+1) {
    border-left: none;
}

.books:first-child {
    border-left: 3px solid black;
}

.container > div > p {
    display: none;
    transition: display 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.books > h2 {
    position: absolute;
    left: 19px;
    bottom: -18px;
    height: 27px;
    width: 230px;
    margin: 0;
    transform-origin: left top;
    transform: rotate(-90deg);
    transition: position 1s ease,
                height 2s ease-in-out,
                width 2s ease,
                transform .5s ease;
}

.books:hover > p {
    display: inherit;
    text-align: center;
}

.books:hover {
    width: 230px;
}

.books:hover > h2 {
    position: static;
    height: 27px;
    width: auto;
    transform: none;
}