.container {
    position: relative;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    
    // 1-ROW
    
    header {
        display: flex;
        flex-wrap: wrap;
    }
    
    .logo {
        flex-grow: 1;
        width: 60%;
        min-height: 50%;
        min-width: 191px;
        background-color: blueviolet;
    }
    
    .about-scss {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        width: 40%;
        min-height: 50%;
        min-width: 127px;
        background-color: red;
    }
    // 2-ROW
    
    //PART-1
    
    //grid.scss or grid.css

    .scroll {
        overflow: scroll;
    }
    
    //PART-2
    
    .container-2 {
        position: relative;
    }
    
    .container-2 > div {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        height: 50%;
        width: 60%;
        max-width: 100%;
        background-color: lawngreen;
        overflow: hidden;
    }
    
    .text {
        height: 100%;
        width: 60%;
        margin-right: 20px;
    }
    
    .picture  {
        align-self: center;
        height: 41px;
        width: 42px;
        background-color: green;
        border-radius: 50%;
    }

    .container-2 > .lorem-img-1 > .picture {
        background-image: url(../images/frog-1_v2.png);
    }

    .container-2 > .lorem-img-2 > .picture {
        background-image: url(../images/frog-2_v2.png);
    }
    
    .container-2 > .lorem-img-2 {
        right: 0;
        bottom: 0;
    }
    
    //INFINITE-SCROLL + TWO-DIV
    
    .istd {
        height: 100%;
        overflow: hidden;
    }
    
    .infinite-scroll {
        height: 10vw;
        max-height: 16%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .infinite-scroll span {
        display: inline-block;
        width: 100%;
        text-indent: 0;
        animation: infinite-scroll 10s linear infinite;
    }
    
    @keyframes infinite-scroll {
    
    0%  { transform: translate(-100%, 0); }
    
    100% { transform: translate(100%, 0); }
    }
    
    //two-div
    
    .two-div {
        display: flex;
        flex-wrap: wrap;
        height: 84%;
        width: 100%;
    }
    
    .lorem-1 {
        flex-grow: 1;
        height: 100%;
        width: 50%;
        min-width: 200px;
        background-color: blueviolet;
    }
    
    .lorem-2 {
        flex-grow: 1;
        height: 100%;
        width: 50%;
        min-width: 200px;
        background-color: red;
    }
    
    //FOOTER
    
    .hills {
        position: absolute;
        bottom: 0;
        height: 101px;
        width: 99.7%;
        background-color: mediumblue;
        border: 1px solid black;
    }
}