main {
    background-color: #F6F7FB;
    height: 1060px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.container-1 .row-1 {
    height: 90px;
}

.text, .cost {
    display: inline-block;
    margin-top: 30px;
    font-size: 25px;
    line-height: 29px;
}

.text {
    margin-left: 38px;
    font-weight: 500;
}

.cost {
    width: 1076px;
    margin-left: 43px;
    color: #ADADB0;
}

.cost > div {
    display: inherit;
}

.cost > div:nth-child(2) {
    margin-left: 30px;
}

.cost > div:nth-child(3) {
    margin-left: 30px;
}

.add {
    position: relative;
    top: -4px;
    float: right;
    height: 40px;
    width: 187px;
    margin-right: 35px;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    background: linear-gradient(to right,  #255390, #162970);
    box-shadow: 0px 8px 10px rgba(60, 84, 117, 0.15);
}

.add > span {
    display: inline-block;
    margin-top: 5px;
}

.add > span::before {
    content: "+";
    position: relative;
    left: -17px;
}

/* START "ROW-2" */

.container-1 .row-2 {
    display: flex;
    Justify-content: space-between;
    flex-flow: wrap;
    height: 163px;
    margin-left: 38px;
}

.type-1 {
    position: relative;
    height: 113px;
    width: 290px;
    margin-right: 27px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.type-1:nth-child(4) {
    margin-right: 37px;
}

.type-1 > div {
    margin-top: 9px;
    margin-left: 25px;
}

.type-1 > div:first-child {
    font-size: 16px;
    font-weight: 400;
}


.type-1 > div:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
}

.type-1 > div:nth-child(3) {
    margin-left: 23px;
}

.type-1:first-child > div:first-child {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.type-1:first-child > div:nth-child(2) {
    margin-top: 9px;
    margin-left: 30px;
}

.type-1:first-child > div:nth-child(2)::before {
    content: url(/images/Ellipse.svg);
    position: relative;
    top: -4px;
    left: -6px;
    font-size: 24px;
}

.type-1 > div:nth-child(2) > span {
    font-size: 14px;
}

.type-1:first-child > div:nth-child(3) {
    margin-top: 9px;
    font-weight: 700;
}

.type-1:first-child > .badge {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 7px;
    right: 12px;
    background: url(../images/ask.svg);
}

/* Start second div */

.type-1:nth-child(2) {
    height: 109px;
    width: 286px;
    border: 2px solid #F2AE4B;
    box-shadow: 0px 8px 10px rgba(60, 84, 117, 0.15);
}

.type-1:nth-child(2) > div:first-child {
    margin-top: 14px;
    margin-left: 21px;
}

.type-1:nth-child(2) > div:nth-child(2) {
    margin-left: 29px;
}

.type-1:nth-child(2) > div:nth-child(2)::before {
    content: url(/images/speed-meter2.svg);
    position: relative;
    top: -4px;
    left: -6px;
    height: 10px;
    width: 15px;
}

.type-1:nth-child(2) > .badge {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 4px;
    right: 26px;
    background: url(../images/litecoin.svg);
}

.type-1:nth-child(2) > .graph {
    position: absolute;
    height: 41px;
    width: 103px;
    bottom: 20px;
    right: 26px;
    background: url(../images/Vector.svg);
}

/* start thierd div*/

.type-1:nth-child(3) > div:first-child {
    margin-top: 16px;
    margin-left: 23px;
}

.type-1:nth-child(3) > div:nth-child(2) {
    margin-left: 32px;
}

.type-1:nth-child(3) > div:nth-child(2)::before {
    content: url(/images/speed-meter2.svg);
    position: relative;
    top: -4px;
    left: -9px;
    height: 10px;
    width: 15px;
}

.type-1:nth-child(3) > .badge {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 6px;
    right: 32px;
    background: url(../images/bitcoin.svg);
}

.type-1:nth-child(3) > .graph {
    position: absolute;
    height: 41px;
    width: 103px;
    bottom: 22px;
    right: 34px;
    background: url(../images/Vector.svg);
}

/* start forth div*/

.type-1:nth-child(4) > div:first-child {
    margin-top: 17px;
    margin-left: 22px;
}

.type-1:nth-child(4) > div:nth-child(2) {
    margin-left: 32px;
}

.type-1:nth-child(4) > div:nth-child(2)::before {
    content: url(/images/speed-meter2.svg);
    position: relative;
    top: -4px;
    left: -9px;
    height: 10px;
    width: 15px;
}

.type-1:nth-child(4) > .badge {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 7px;
    right: 24px;
    background: url(../images/rhombus.svg);
}

.type-1:nth-child(4) > .graph {
    position: absolute;
    height: 41px;
    width: 103px;
    bottom: 21px;
    right: 24px;
    background: url(../images/Vector.svg);
}

/* Start type-2 */

.type-2 {
    display: table;
    height: 36px;
    width: 288px;
    margin-top: 14px;
    margin-right: 27px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.type-2 > span {
    display: table-cell;
    vertical-align: middle;
    line-height:  20px;
}

.type-2 > span > span{
    font-weight: normal;
}

.type-2:last-child {
    margin-right: 37px;
}

.type-2:nth-child(5) {
    background-color: inherit;
    border: none;
    box-shadow: none;
}

.type-2:nth-child(5) > div {
    display: inline-block;
    height: inherit;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.type-2:nth-child(5) > div:first-child {
    height: 32px;
    width: 139px;
    margin-right: 7px;
    border: 2px solid #F3BA2F;
    background: url(../images/binance.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
}

.type-2:nth-child(5) > div:last-child {
    height: inherit;
    width: 136px;
    background: url(../images/buy.svg);
    background-color: #00D56E;
    background-repeat: no-repeat;
    background-position: center;
}

.type-2:nth-child(6) > span::before {
    content: url(/images/circlewithdot.png);
    position: relative;
    top: 2px;
    left: -12px;
    height: 14px;
    width: 14px;
}

.type-2:nth-child(7) > span::before {
    content: url(/images/circle.svg);
    position: relative;
    top: 2px;
    left: -9px;
    height: 14px;
    width: 14px;
}

.type-2:last-child > span::before {
    content: url(/images/circlewithdot.png);
    position: relative;
    top: 1px;
    left: -12px;
    height: 14px;
    width: 14px;
}


