.container-2 {
    margin-top: 41px;
    height: 740px;
    width: inherit;
}

.container-2 > .row-1 {
    height: 76px;
    margin-left: 37px;
}

.block-1 {
    display: inline-block;
    width: 101px;
}

.block-1 > div:first-child {
    margin-left: 11px;
    font-size: 25px;
}

.block-1 > div:first-child::before {
    content: url(../images/bitcoin-small.svg);
    position: relative;
    top: 1px;
    left: -10px;
    height: 14px;
    width: 14px;
}

.block-1 > div:last-child {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #828282;
}

.block {
    display: inline-block;
    width: 108px;
    margin-left: 28px;
}

.block > div:first-child {
    font-weight: 500;
    color: #828282;
}

.block > div:last-child {
    margin-top: 9px;
    margin-left: 6px;
    font-weight: 700;
    font-size: 25px;
}

.block > div:last-child::before {
    position: relative;
    top: -6px;
    left: -8px;
    height: 6px;
    width: 6px;
}

.block > div:last-child > span {
    font-size: 12px;
}

.block-2 > div:last-child::before {
    content: url(../images/Ellipse-green.svg);
}

.block-3 > div:last-child::before {
    content: url(../images/Ellipse.svg);
    left: -5px;
}

.block-4 > div:last-child::before {
    content: url(../images/Ellipse-orange.svg);
    left: -5px;
}

/* START CONTAINER-2 ROW-2 */

.container-2 .row-2 {
    height: 339px;
    margin-left: 37px;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.heading {
    font-size: 15px;
    font-weight: 400;
    color: #828282;
}

.diagram {
    height: 289px;
    width: 915px;
    margin-top: 7px;
    background: url(../images/diagram.png);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.column:last-child {
    margin-left: 20px;
}

.dd-mm-yy {
    height: 289px;
    width: 303px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.dd-mm-yy > div {
    margin-left: 20px;
    font-weight: bold;
}

.dd-mm-yy > div:nth-child(2n-1) {
    font-size: 14px;
    color: #BDBDBD;
}

.dd-mm-yy > div:nth-child(2n) {
    margin-top: 7px;
    margin-left: 28px;
    font-size: 18px;
    color: #4F4F4F;
}

.dd-mm-yy > div:nth-child(2n)::before {
    content: url(../images/Ellipse-dark-blue.svg);
    position: relative;
    top: -4px;
    left: -7px;
    height: 5px;
    width: 5px;
}

.dd-mm-yy > div:nth-child(2n+1) {
    margin-top: 18px;
}

.dd-mm-yy > div:nth-child(1) {
    margin-top: 23px;
}

/* START CONTAINER-2 ROW-3 */

.row-3 {
    height: 220px;
    margin-left: 38px;
}

.row-3 > .column:first-child > div:last-child {
    height: 193px;
    width: 916px;
    margin-top: 10px;
    background-color: #FFFFFF;
}

.choose-contract {
    overflow: hidden;
    border-radius: 5px;
    color: #4F4F4F;
}

.choose-contract > div {
    margin-left: 24px;
}

.choose-contract > div:first-child {
    margin-top: 26px;;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}

.contract {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 173px;
    padding-left: 21px;
    padding-right: 22px;
    font-size: 15px;
    font-weight: bold;
    border: 0.5px solid #E0E0E0;
    border-radius: 22.5px;
    background-color: #F6F7FB;
}

.contract::after {
    content: url(../images/check.svg);
    position: relative;
    top: -7px;
    height: 6px;
    width: 14px;
}

.slider-container {
    position: relative;
}

#range {
    width: 612px;
    margin-top: 23px;
    margin-left: 30px;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0px 8px 10px rgba(60, 84, 117, 0.15);
}

#range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1.5px;
    height: 3px;
    background: linear-gradient(to right, #F2AE4B 24%, #162A71 24%, #162A71 62%, #E5E5F3 62%);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03); */
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    top: -9px;
    width: 21px;
    height: 21px;
    background: #162A71;
    border-radius: 50%;
}

.slider-value {
    position: absolute;
    top: -21px;
    right: 186px;
    font-size: 24px;
    font-weight: bold;
    color: #162A71;
}

.down-row {
    margin-top: 25px;
    font-size: 15px;
}

.down-row > span {
    font-size: 24px;
    font-weight: 500;
}

.down-row:nth-child(3) {
    width: 248px;
    margin-right: 20px;
}

.down-row:nth-child(4) {
    width: 153px;
    margin-right: 23px;
}

.down-row:nth-child(5) {
    width: 179px;
}

.column-container > button {
    height: 40px;
    width: 180px;
    margin-top: 18px;
    margin-left: 55px;
    border-radius: 20px;
    background-color: #255390;
    color: #FFFFFF;
}

.custom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 66px;
    width: 303px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.custom > span {
    font-weight: 500;
}

.custom > span:nth-child(2n-1) {
    width: 78px;
    margin-left: 12px;
    text-align: left;
}

.custom > span:nth-child(2n) {
    width: 151px;
    margin-right: 12px;
    text-align: right;
}

.custom > span:first-child, .custom > span:nth-child(2) {
    font-size: 15px;
    font-weight: bold;
    color: #4F4F4F;
}

.custom > span:nth-child(3), .custom > span:last-child, .show {
    font-size: 13px;
}

.custom > span:nth-child(3) {
    color: #219653;
}

.custom:nth-child(3) > span:nth-child(3) {
    color: #F2994A;
}

.show {
    height: 33px;
    width: 187px;
    margin-top: 13px;
    margin-left: 52px;
    font-weight: 400;
    border: 0.5px solid #E0E0E0;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #4F4F4F;
}

.show::before {
    content: url(../images/dots.svg);
    position: relative;
    top: -4px;
    left: -7px;
    height: 2px;
    width: 10px;
}