* {
    margin: 0;
    padding: 0;
}

.container {
    height: 1149px;
    width: 1316px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

header {
    height: 89px;
    background-color: #FFFFFF;
}

.menu {
    display: flex;
    align-items: center;
    height: inherit;
    width: inherit;
}

.menu > button {
    height: 49px;
    width: 213px;
    margin-right: 42px;
    font-weight: bold;
    text-align: center;
    line-height: 27px;
    border: 1px solid #DBDBDB;;
    border-radius: 5px;
    background: #FFFFFF;
}

.menu > button:first-child {
    margin-left: 40px;
    color: #FFFFFF;
    background: linear-gradient(to right,  #255390, #162970);
}
.menu > button > span {
    display: inline-block;
}

.menu > button:first-child > span {
    margin-left: 9px;
}

.menu > button:first-child > span::before {
    content: url("../images/speed-meter.svg");
    position: relative;
    top: 2px;
    right: 12px;
    width: 23px;
    height: 15px;
}

.menu > button:nth-child(2) > span {
    margin-left: 19px;
}

.menu > button:nth-child(2) > span::before {
    content: url("../images/profile-user.svg");
    position: relative;
    top: 5px;
    right: 12px;
    width: 19px;
    height: 19px;
}

.menu > button:nth-child(3) > span {
    margin-left: 15px;
}

.menu > button:nth-child(3) > span::before {
    content: url("../images/settings-work-tool.svg");
    position: relative;
    top: 5px;
    right: 14px;
    width: 21px;
    height: 21px;
}

.menu > button:nth-child(4) {
    margin-right: 115px;
}

.menu > button:nth-child(4) > span {
    margin-left: 15px;
}

.menu > button:nth-child(4) > span::before {
    content: url("../images/info.svg");
    position: relative;
    top: 6px;
    right: 12px;
    width: 21px;
    height: 21px;
}

#sign-in {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 0;
    border: none;
}

.menu > div > span {
    margin-left: 15px;
}

.menu > div > span::after {
    content: url("../images/Group2.1.svg");
    position: relative;
    top: 2px;
    left: 6px;
    width: 12px;
    height: 12px;
}