$square_side: 50px;
$row_namber: 5;
$column_number: 3;

main {
    display: flex;
    flex-wrap: wrap;
    width: ($square_side * $column_number) + (10px * $column_number * 2);
    height: ($square_side * $row_namber) + (10px * $row_namber * 2);
    margin: 50px auto;
    border: 1px solid red;
    background-color: white;
    background-image: url(../images/square.png);
}