.main {
    margin: 50px 50px;
    position: relative;
}

.item {
    position: absolute;
    border: 2px solid black;
    background-color: khaki;
    width: 66px;
    height: 100px;
    border-radius: 5px;
}

.hidden {
    opacity: 0;
    top: -2px;
    right: -2px;
}

.item:first-child {
    background-image: url("../images/Screenshot_5_1.jpg");
    background-size: contain;
}

.item:nth-child(2) {
    left: 50px;
    background-image: url("../images/Screenshot_5_2.jpg");
    background-size: contain;
}

.item:nth-child(3) {
    left: 100px;
    background-image: url("../images/Screenshot_5_3.jpg");
    background-size: contain;
}

.item:nth-child(4) {
    left: 150px;
    background-image: url("../images/Screenshot_5_4.jpg");
    background-size: contain;
}

.visible:hover > .hidden {
    right: -2px;
    opacity: 100;
    top: -25px;
    z-index: 1;
    background-image: url("../images/cardback.png");
    background-size: contain;
}

.visible:hover {
    border: 2px solid transparent;
    background-color: transparent;
    background-image: none;
}