main {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 50px auto;
    border: 1px solid red;
    background-color: white;

    div {
        height: 50px;
        width: 50px;
        margin: 10px;
        background-color: yellow;
    }
}