body {
    height: 100%;
    text-align: center;
}

.info-board {
    height: 1.2rem;
}

.info-board > div {
    display: inline-block;
    margin: 0 20px;
}

.main, .center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main {
    height: calc(100vh - 1.2em);
    flex-wrap: wrap;
    background-color: khaki;
}

.place {
    border: 1px solid black;
    box-sizing: border-box;
}

.free {
    background-color: green;
}

.busy {
    background-color: red;
}

.car-in, .car-out {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(127,127,127, 0.9);
}

.modal-window {
    height: 8em;
    width: 13em;
    border-radius: 3px;
    background-color: turquoise;
}

.from-time, .message {
    margin: 1em auto;
    text-align: center;
}

.alert, .occu-time {
    margin-top: 5px;
    color: red;
    font-weight: 600;
}