@keyframes jump {
    0% {
        left: 5px;
        bottom: 20px;
    }

    5% {
        left: 40px;
        bottom: 60px;
    }

    10% {
        left: 80px;
        bottom: 40px;
    }

    15% {
        left: 114px;
        bottom: 80px;
    }


    20% {
        left: 155px;
        bottom: 60px;
    }

    25% {
        left: 190px;
        bottom: 100px;
    }

    30% {
        left: 230px;
        bottom: 80px;
    }

    35% {
        left: 265px;
        bottom: 120px;
    }

    40% {
        left: 305px;
        bottom: 100px;
    }

    50% {
        left: 305px;
        bottom: 20px;
    }

    55% {
        left: 265px;
        bottom: 60px;
    }
    
    60% {
        left: 230px;
        bottom: 40px;
    }

    65% {
        left: 190px;
        bottom: 80px;
    }

    70% {
        left: 155px;
        bottom: 60px;
    }

    75% {
        left: 114px;
        bottom: 100px;
    }

    80% {
        left: 80px;
        bottom: 80px;
    }

    85% {
        left: 40px;
        bottom: 120px;
    }

    90% {
        left: 5px;
        bottom: 100px;
    }

    100% {
        left: 5px;
        bottom: 20px;
    }
}

body {
    background-image: url(../images/1280px-VTB_Arena4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    width: 350px;
    margin: 50px auto;
    background-image: url(../images/grass.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div {
    width: 50px;
    /* background-color: burlywood; */
}

.step {
    background-image: url(../images/column.png);
    background-repeat: no-repeat;
    background-size: 100%;
} 

.ball {
    position: absolute;
    left: 5px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url(../images/ball.png);
    background-size: 100%;
    animation: jump 10s linear 0s infinite normal forwards;
}

@keyframes height-change-1 {
    0% {height: 20px;}
    50% {height: 100px;}
    100% {height: 20px;}
}

.step-1 {
    height: 20px;
    animation: height-change-1 10s step-start 4.05s infinite normal forwards;
}

@keyframes height-change-2 {
    0% {height: 40px;}
    50% {height: 80px;}
    100% {height: 40px;}
}

.step-2 {
    height: 40px;
    animation: height-change-2 10s step-start  4.05s infinite normal forwards;
}

.step-3 {
    height: 60px;
}

@keyframes height-change-4 {
    0% {height: 80px;}
    50% {height: 40px;}
    100% {height: 80px;}
}

.step-4 {
    height: 80px;
    animation: height-change-4 10s step-start  4.05s infinite normal forwards;
}

@keyframes height-change-5 {
    0% {height: 100px;}
    50% {height: 20px;}
    100% {height: 100px;}
}

.step-5 {
    height: 100px;
    animation: height-change-5 10s step-start  4.05s infinite normal forwards;
}