@font-face {
  font-family: 'Google Sans';
  src: url("GoogleSans-MediumItalic.eot");
  src: local("Google Sans Medium Italic"), local("GoogleSans-MediumItalic"), url("GoogleSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("GoogleSans-MediumItalic.woff2") format("woff2"), url("GoogleSans-MediumItalic.woff") format("woff"), url("GoogleSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

* {
  font-family: 'Google Sans', sans-serif;
}

body {
  width: 1926px;
}

.center, .tape, .filter, .adverts {
  width: 1116px;
  margin: 0 auto;
}

header {
  height: 36px;
  background-color: #F2F2F2;
}

header div.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: inherit;
  padding: 7px;
  font-weight: bold;
}

header .feedback {
  margin-right: 37px;
}

.container {
  height: 83px;
  font-size: 14px;
  background-color: #FFFFFF;
  border: 1px solid #E8E8EE;
}

.container nav {
  height: 19px;
  width: 26px;
  background-image: url(../images/menu-options.png);
}

.container .search-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 651px;
  height: 44px;
  background-color: #FCFCFC;
  border: 1px solid #E8E8EE;
  border-radius: 3px;
}

.container .search::before {
  content: url(../images/search.png);
  height: 12px;
  width: 12px;
}

.container .select-city::after {
  content: url(../images/arrow-down.png);
  height: 6px;
  width: 7px;
}

.container .place-ad {
  width: 218px;
  height: 44px;
  background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
  border-radius: 3px;
  color: #FFFFFF;
}

.container div.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.tape {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 221px;
}

.tape div {
  height: 170px;
  width: 359px;
}

.tape .advert-tape-1 {
  background-image: url(../images/advert-1.png);
}

.tape .advert-tape-2 {
  background-image: url(../images/advert-2.png);
}

.tape::before {
  content: "";
  position: absolute;
  left: -40px;
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
  background-image: url(../images/arrow-left.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #E8E8EE;
  border-radius: 3px;
}

.tape::after {
  content: "";
  position: absolute;
  right: -40px;
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #E8E8EE;
  border-radius: 3px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #333333;
}

.filter p {
  font-size: 24px;
}

.filter label {
  font-size: 18px;
}

.filter select {
  color: #979FAD;
}

.adverts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adverts div {
  margin-bottom: 30px;
  height: 400px;
  width: 253px;
  background-image: url(../images/advert.png);
}
/*# sourceMappingURL=style.css.map */