@font-face {
    font-family: 'fontello';
    src: url('../fontello/font/fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 243px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.timer {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    border: 1px solid black;
}

.sec:after {
    display: inline-block;
    content: '\e832';
    position: relative;
    top: -4px;
    margin-left: 7px;
    font-family: "fontello";
    font-size: 36px;
}

#appt {
    border: 1px solid black;
}

.buttons {
    display: inline-block;
    position: relative;
}

button {
    position: absolute;
    height: 20px;
    width: 161px;
    margin-left: 10px;
    font-family: "fontello";
    font-size: 15px;
    border: 1px solid black;
    background-color: #ffffff;
}

.icon-play-1 {
    top: 68px;
    left: 71px;
    transition: top 9999999s, left 9999999s;   
}

.icon-pause {
    top: -150px;
    left: 71px;
    transition: top 9999999s, left 9999999s;
}

.icon-play-1:active {
    top: -150px;
    transition: top 0s;
}

.icon-play-1:active ~ .icon-pause {
    top: 68px;
    transition: top 0s;
}

.icon-play-1:active ~ .sec:after {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}

/* .icon-pause {
    top: -150px;
    transition: top 9999999s;
} */

/* .icon-play-1 {
    top: 0;
    transition: top 9999999s;
} */

/* .icon-play-1:active {
    top: -150px;
    transition: top 0s;
} */

/* .icon-play-1:active + .icon-pause {
    top: 0;
    transition: top 0s;
} */

/* .sec:after {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
} */



/* onclick="this.style.display='none';" */

