@font-face {
    font-family: 'fontello';
    src: url('../fontello/font/fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 243px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.timer {
    width: 221px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    border: 1px solid black;
}

#appt {
    border: 1px solid black;
}

button {
    position: relative;
    height: 20px;
    width: 161px;
    margin-left: 10px;
    font-family: "fontello";
    font-size: 15px;
    border: 1px solid black;
    background-color: #ffffff;
}

button::before {
    content: '\f00f';
    font-family: "fontello";
}

button::after {
    content: '\e832';
    position: absolute;
    top: -62px;
    right: 10px;
    font-size: 36px;
    font-family: "fontello";
}

button:active::before {
    content: '\f00e';
    font-family: "fontello";
}

button:active::after {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}