body {
    background-color: blanchedalmond;
}

.main {
    position: relative;
    margin: 20px auto;
    width: 800px;
    height: 800px;
    border: 0;
    background-color: white;
    background-image: none;
    border-radius: 0;
    transform: none;
    transition: background-image 500ms linear 1s,
                border 1500ms linear 2s,
                border-radius 2500ms linear 3s,
                transform 3500ms linear 4s;
}

.main:hover {
    background-image: url(../images/oklike.png);
    border: 5px solid black;
    border-radius: 50%;
    transform: rotate(180deg);
}