@font-face {
    font-family: 'Houschka Pro';
    src: url(font/HouschkaPro-Medium.ttf);
    font-style: normal;
}

body {
    font-family: 'Houschka Pro', sans-serif;
    background-color: #b9d6ef;
}

.main {
    margin: 0 auto;
}

.clouds {
    position: relative;
    height: 61px;
    width: 726px;
    margin: 0 auto;
}

.clouds > div {
    position: absolute;
}

.cloud1 {
    left: 0;
}

.cloud2 {
    right: 0;
}

.comingsoon {
    position: relative;
    margin-top: 51px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    text-shadow: 2px 4px 0px #9EADC4;
    color: #fefefe;
}

.subscribe {
    margin-bottom: 22px;
    font-size: 14px;
    text-align: center;
    color: #416594;    
}

.form {
    width: 353px;
    margin: 0 auto;
}

.form > input {
    height: 37px;
    width: 228px;
    padding-left: 12px;
    font-family: Arial;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 2px 3px 0 #DDDCDC;
    color: #9E9E9E;
}

.form > button {
    height: 35px;
    margin-left: 10px;
    font-size: 14px;
    text-shadow: 1px 1px 1px #CD9C33;
    border: 1px solid #EAAF30;
    border-radius: 2px;
    background: linear-gradient(to bottom, #EECE4B, #E8A933);
    color: #FEFEFE;
}

.ice-ship {
    position: relative;
    height: 187px;
    width: 331px;
    margin: 24px auto 0 auto;
}

.ship {
    position: absolute;
    top: 172px;
    left: -25px;
} 

.background1 {
    height: 6px;
    background-color: #DEE9F8;
}

.background2 {
    height: 7px;
    background-color:#4E76AA;
}

.background3 {
    height: 100vh;
    padding-top: 51px;
    background-color: #416594;
}

.info {
    position: relative;
    width: 290px;
    margin: 0 auto;
}

.info > div {
    position: absolute;
}

.circle {
    position: absolute;
    display: table;
    height: 70px;
    width: 70px;
    font-size: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: #BED1ED;
    color: #416594;
}

.circle > span {
    display: table-cell;
    vertical-align: middle;
}

.circle:nth-child(2) {
    left: 113px;
}

.circle:nth-child(3) {
    left: 222px;
}

.days, .hours, .mins {
    top: 81px;
    font-weight: bold;
    color: #F1F1F1;
}

.days {
    left: 14px;
}

.hours {
    left: 120px;
}

.mins {
    left: 237px;
}

.hatch{
    animation-name: hatch;
    -webkit-animation-name: hatch;
    
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;    
}
 
@keyframes hatch {
    0% {
        transform: rotate(1deg);
    }
    20% {
        transform: rotate(2deg);
    }
    35% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(4deg);
    }   
    65% {
        transform: rotate(3deg);
    }   
    80% {
        transform: rotate(2deg);
    }       
    100% {
        transform: rotate(1deg);
    }                                   
}
 
@-webkit-keyframes hatch {
    0% {
        -webkit-transform: rotate(1deg);
    }
    20% {
        -webkit-transform: rotate(2deg);
    }
    35% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(4deg);
    }   
    65% {
        -webkit-transform: rotate(3deg);
    }   
    80% {
        -webkit-transform: rotate(2deg);
    }       
    100% {
        -webkit-transform: rotate(1deg);
    }       
}
